controle.vhd.bak
db
funcao.done
funcao.fit.rpt
funcao.fit.summary
funcao.flow.rpt
funcao.map.rpt
funcao.map.summary
funcao.pin
funcao.qpf
funcao.qsf
funcao.sta.rpt
funcao.sta.summary
funcao.vhd.bak
incremental_db
read_memory.vhd
read_memory.vhd.bak
write_memory.vhd
write_memory.vhd.bak
