controle.vhd.bak
data_path.vhd.bak
db
funcao.cr.mti
funcao.done
funcao.flow.rpt
funcao.map.rpt
funcao.map.summary
funcao.mpf
funcao.qpf
funcao.qsf
funcao.vhd.bak
incremental_db
memoria.vhd.bak
tb.vhd.bak
transcript
vsim.wlf
work
