controle.vhd.bak
data_path_summary.html
data_path_xst.xrpt
db
funcao.done
funcao.fit.rpt
funcao.fit.summary
funcao.flow.rpt
funcao.map.rpt
funcao.map.summary
funcao.pin
funcao.qpf
funcao.qsf
funcao.sta.rpt
funcao.sta.summary
funcao_summary.html
funcao.vhd.bak
funcao_xst.xrpt
fuse.log
incremental_db
isim
isim.cmd
isim.hdlsourcefiles
isim.log
isimwavedata.xwv
multi_matricial.ntrc_log
multi_matricial.restore
multi_matricial_xdb
read_memory_summary.html
read_memory.vhd.bak
read_memory_xst.xrpt
tb_beh.prj
tb_isim_beh.exe
tb_isim_beh.wfs
tb_stx.prj
write_memory.cmd_log
write_memory.lso
write_memory.ngc
write_memory.ngr
write_memory.prj
write_memory.stx
write_memory_summary.html
write_memory.syr
write_memory.vhd.bak
write_memory.xst
write_memory_xst.xrpt
xilinxsim.ini
_xmsgs
xst
